<div class="container">
  <h1>Games</h1>
  <ul>
    <li><%= link_to 'Numbers Memory', memory_path %></li>
    <li><%= link_to 'Calculus', calc_path %></li>
    <li><%= link_to 'Hidden puzzle', puzzle_path %></li>
  </ul>
</div>