<ul class="navbar">
</ul>
<div class="container">
  <h1>Numbers Memory Game</h1>
  <div class="game-wrapper">
    <a href="#" class="js-start btn">Start Game</a>
    <div class="numbers-container">
      <p class="numbers">989849286</p>
      <form>
        <input type="text" name="player-number"  autofocus>
        <input type="submit" value="Submeter" class="btn">
      </form>
    </div>
  </div>
</div>