<div class="container">
  <h1 class="title">Numbers Memory Game</h1>
  <div class="game-wrapper">
    <a href="#" class="js-start btn">Start Game</a>
    <div class="numbers-container">
      <div class="numbers-container__number">
        <p class="js-randNumber"></p>
        <div class="progress-bar"><span></span></div>
      </div>
      <div class="numbers-container__input">
        <input id="player-input" type="text" name="player-number" class="input input--number" autofocus>
        <a href="#" class="js-submit-number btn">Submeter</a>
      </div>
    </div>
  </div>

  <div class="game-divider">
    <p>Resultado: <span class="js-result"></span></p>
    <a href="#" class="js-next-level btn">Próximo Nível</a>
  </div>

  <div id="feedback-modal" class="feedback-modal">
    <p class="js-feedback"></p>
  </div>
</div>