/* MEMORY GAME */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.game-wrapper {
  height: 360px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: steelblue;
  font-size: 50px;
}

.btn {
  border: none;
  display: table;
  padding: 15px 20px 10px;
  background-color: lightblue;
  margin: 70px auto 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border-bottom: 2px solid rgb(125, 166, 180);
  font-size: 20px;
}

.numbers-container {
  display: none;
  width: 400px;
  margin: 70px auto;
  text-align: center;
}

.numbers {
  font-size: 36px;
  font-weight: 100;
}

input[type="text"] {
  font-size: 36px;
  border: none;
}

input[type="text"]:focus {
  outline: 0;
}