* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  box-sizing:border-box;
}

body {
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 200px;
}

.tabs, .tabs-content {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.tabs {
  width: 25%;
}

.tabs li {
  margin: 0 20px;
  line-height: 2em;
}

.tabs a {
  color: #999;
}

.tabs .active a {
  color: #000;
}

.tabs-content {
  width: 75%;
}

.tab__item {
  position: relative;
  display: none;
  text-align: center;
}

.tab__item.active {
  display: block;
}


/***************************************\
                NAV MENU
\***************************************/
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  text-align: center;
  background-color: #666;
  font-size: 1.2em;
  border-bottom: 1px solid #f3f3f3;
  z-index: 1;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #f3f3f3;
}


/***************************************\
        BREADCRUMBS CSS EXPERIMENT
\***************************************/
.breadcrumb {
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 20px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  -webkit-transform: scale(0.707) rotate(45deg);
  -moz-transform: scale(0.707) rotate(45deg);
  -o-transform: scale(0.707) rotate(45deg);
  -ms-transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow: 2px -2px 0 2px rgba(0,0,0,0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:first-child {
  padding-left: 46px;
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a.active, .breadcrumb a:hover {
  background: #333;
  background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border: 1px solid black;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  line-height: 20px;
  background: #444;
  background: linear-gradient(#444, #222);
}


/***************************************\
        CALCULATOR CSS EXPERIMENT
\***************************************/
/* Using box shadows to create 3D effects */
.calculator-wrapper {
  width: 325px;
  height: auto;
  margin: 0 auto;
  padding: 20px 20px 9px;
  background: linear-gradient(#9dd2ea, #8bceec);
  border-radius: 3px;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
  float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
  height: 40px;
  width: 212px;
  float: right;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {
  overflow: hidden;
}

/* Applying same to the keys */
.keys span, .top span.clear {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 66px;
  height: 36px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 7px 11px 0;
  color: #888;
  line-height: 36px;
  text-align: center;
  transition: all 0.2s ease;
  
  /* prevent selection of text inside keys */
  user-select: none;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
  background: #FFF0F5;
  margin-right: 0;
}

.keys span.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
}

.top span.clear {
  background: #ff9fa8;
  box-shadow: 0px 4px #ff7c87;
  color: white;
}

/* Some hover effects */
.keys span:hover {
  background: #9c89f6;
  box-shadow: 0px 4px #6b54d3;
  color: white;
}

.keys span.eval:hover {
  background: #abb850;
  box-shadow: 0px 4px #717a33;
  color: #ffffff;
}

.top span.clear:hover {
  background: #f68991;
  box-shadow: 0px 4px #d3545d;
  color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

.keys span.eval:active {
  box-shadow: 0px 0px #717a33;
  top: 4px;
}

.top span.clear:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d;
}


/***************************************\
        CLOCK CSS EXPERIMENT
\***************************************/
.timer {
  position: relative;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  border: 7px solid #888;
  border-radius: 5px;
}

.cell {
  display: inline-block;
  position: relative;
  width: 0.6em;
  height: 40px;
  font-size: 50px;
  overflow: hidden;
}

.numbers {
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  line-height: 30px;
  text-align: center;
}

input[name="controls"] {
  display: none;
}

#start:checked ~ .timer .numbers {
  animation-paly-state: running;
}

#stop:checked ~ .timer .numbers {
  animation-play-state: paused;
}

#reset:checked ~ .timer .numbers {
  animation: none;
}

.time_controls label {
  cursor: pointer;
  background-color: #888;
  color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 10px;
}

.moveten {
  animation: moveten 1s steps(10, end) infinite;
}

.movesix {
  animation: movesix 1s steps(6, end) infinite;
}

.tenhour {
  animation-duration: 360000s;
}

.hour {
  animation-duration: 36000s;
}

.tenminute {
  animation-duration: 3600s;
}

.minute {
  animation-duration: 600s;
}

.tensecond {
  animation-duration: 60s;
}

.second {
  animation-duration: 10s;
}

.milisecond {
  animation-duration: 1s;
}

.tenmilisecond {
  animation-duration: 0.1s;
}

.hundredmilisecond {
  animation-duration: 0.01s;
}

@keyframes moveten {
  0%{top:0;}
  100%{top:-400px;}
}

@keyframes movesix {
  0%{top:0;}
  100%{top:-240px;}
}



/***************************************\
              CSS ANIMATIONS
\***************************************/
.square {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background: red;
}

.slider-frame {
  position: relative;
  width: 400px;
  height: 250px;
  border: 1px solid black;
  margin: 20px auto 50px;
  overflow: hidden;
}

.pic-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1800px;
}

.pic-one, .pic-two, .pic-three, .pic-four {
  width: 400px;
  height: 250px;
  float: left;
}

.pic-one {
  background-color: green;
}

.pic-two {
  background-color: orange;
}

.pic-three {
  background-color: red;
}

.pic-four {
  background-color: purple;
}

.rotate {
  -webkit-animation: rotate 1s steps(40, end) infinite, 
             movehor 10s steps(500, end) infinite, 
             scale steps(100, end), infinite;
  animation: rotate 1s steps(40, end) infinite, 
             movehor 10s steps(500, end) infinite, 
             scale steps(100, end), infinite;
}

.slide {
  -webkit-animation: slide 20s cubic-bezier(1, 0, 0, 1) infinite;
  animation: slide 20s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes rotate {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(90deg);}
}

@keyframes movehor {
  0%{left: 0}
  100%{left: 100%}
}

@keyframes scale {
  0%{transform:scale(1);}
  100%{transform:scale(0.2);}
}

@keyframes slide {
  0%{left: 0}
  33%{left: -400px}
  66%{left: -800px}
  100%{left: -1200px}
}

/* Star Animation */
.star-anim {
  width: 70px;
  height: 50px;
  background: url(../images/twitter_fave.png) no-repeat;
  background-position: 0 0;
  transition: background 2s steps(50);
}

.star-anim:hover {
  background-position: -3519px 0;
  transition: background 2s steps(55);
}



/***************************************\
      CSS :NTH-OF-M-CHILD TESTS
\***************************************/
.nth {
  list-style-type: none;
  margin: 10px auto;
}

.nth li {
  display: inline-block;
  padding: 10px;
  background-color: green;
  margin: 0 10px;
}

.nth li:nth-child(2):nth-last-child(2) {
  background-color: yellow;
}

.nth li:nth-child(1):nth-last-child(5), .nth li:nth-child(1):nth-last-child(5) ~ li {
  background-color: yellow;
}



/***************************************\
      CSS IMAGES BLEND MODE
\***************************************/
.blends img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*.img-two {
  mix-blend-mode: overlay;
}*/


/***************************************\
      CSS COUNTERS
\***************************************/
body {
  counter-reset: pages;
}

.counter a {
  counter-increment: pages
}

.counter a:before {
  content: counter(pages, upper-roman);
}

.counter a {
  float: left;
  width: 32px;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, .4);
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: rgba(0, 0, 0, .2);
  transition: all .1s;
}

.counter a:hover {
  border: solid 2px #000;
  background-color: rgba(0, 0, 0, .4);
  box-shadow: 0 0 10px #000;
}



/***************************************\
      CSS Filipa
\***************************************/
html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  overflow: hidden;
}

@keyframes textOne, @-webkit-keyframes textOne {
  0% {
    top: -220px;
    left: 0;
  }

  20% {
    top: 50px;
    left: 0;
  }

  80% {
    left: 0;
  }

  100% {
    left: -800px;
  }
}

@keyframes textThree, @-webkit-keyframes textThree {
  0% {
    top: -220px;
    left: 0;
  }

  20% {
    top: 90px;
    left: 0;
  }

  80% {
    left: 0;
  }

  100% {
    left: -800px;
  }
}

@keyframes textFour, @-webkit-keyframes textFour {
  0% {
    top: -220px;
  }

  90% {
    top: -220px;
  }

  100% {
    top: 20px;
  }
}

@keyframes textFive, @-webkit-keyframes textFive {
  0% {
    bottom: -100px;
  }

  90% {
    bottom: -100px;
  }

  100% {
    bottom: 100px;
  }
}

@keyframes botao, @-webkit-keyframes botao {
  0% {
    bottom: -100px;
  }

  90% {
    bottom: -100px;
  }

  100% {
    bottom: 20px;
  }
}

@keyframes imgOne, @-webkit-keyframes imgOne {
  0% {
    left: 0px;
  }

  90% {;
    left: 0px;
  }

  100% {
    left: -600px;
  }
}

@keyframes imgTwo, @-webkit-keyframes imgTwo {
  0% {
    left: 600px;
  }

  80% {
    left: 400px;
  }

  100% {
    left: 10%;
  }
}

.intro {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Indie Flower', cursive;
}

.img-one {
  background: url('../images/fi_imgs/intro.jpg') no-repeat center 70%;
  background-size: contain;
  position: absolute;
  left: -600px;
  height: 100%;
  width: 100%;
  z-index: 0;

  -webkit-animation-name: imgOne;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 10s;

  animation-name: imgOne;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 10s;
}

.img-two {
  background: url('../images/fi_imgs/intro_1.jpg') no-repeat center 70%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 10%;
  height: 88%;
  width: 80%;
  z-index: 0;

  -webkit-animation-name: imgTwo;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 10.5s;

  animation-name: imgTwo;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 10.5s;
}

.talk-one {
  /*background: url('../images/fi_imgs/ballon_3.jpg') no-repeat;*/
  position: absolute;
  top: 50px;
  left: -800px;
  font-size: 50px;
  text-align: center;

  -webkit-animation-name: textOne;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 4s;

  animation-name: textOne;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  z-index: 1;
}

.talk-two {
  position: absolute;
  top: 50px;
  left: -800px;
  font-size: 28px;
  text-align: center;

  -webkit-animation-name: textOne;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 2.5s;

  animation-name: textOne;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 8s;
  animation-delay: 2.5s;
  z-index: 1;
}

.talk-three {
  position: absolute;
  top: 90px;
  left: -800px;
  font-size: 28px;
  text-align: center;

  -webkit-animation-name: textThree;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 4s;

  animation-name: textThree;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  animation-delay: 4s;
  z-index: 1;
}

.talk-four {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 28px;
  text-align: center;

  -webkit-animation-name: textFour;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 11s;

  animation-name: textFour;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 11s;
  z-index: 1;
}

.talk-five {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;

  -webkit-animation-name: textFive;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 13s;

  animation-name: textFive;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 13s;
  z-index: 1;
}

.botao {
  position: absolute;
  left: 16%;
  bottom: 20px;
  padding: 10px 20px;
  color: green;
  border: 2px solid;
  border-radius: 10px;
  font-size: 22px;

  -webkit-animation-name: botao;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 13s;

  animation-name: botao;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 13s;
  z-index: 1;
}












