/*------------------------------------*\
    #GAME DIVIDER
\*------------------------------------*/
.game-divider {
  display: none;
  text-align: center;

  &.active {
    display: block;
  }

  p {
    font-size: 24px;
    font-weight: 700;

    span {
      font-weight: 300;
    }
  }
}